html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-style: normal;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.main-header {
    background-color: #f1f5f7;
    font-family: 'Cuprum', 'Tahoma', sans-serif;
    font-style: normal;
}
.header-top-row {
    background-color: #293449;
}
.container {
    width: 940px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
.header-top-content {
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    min-height: 50px;
}
.logo {
    float: left;
    width: 220px;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-align: center;
}
.search {
    float: left;
    margin-left:  18px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 200px;
    background-color: #293449;
}
.cart-block {
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
}
.cart-block a {
    text-decoration: none;
    color: white;
}
.header-top-btn {
    padding: 8px;
    background-color: #63a63e;
}
.header-middle-content {
    background-color: #f1f5f7;
    padding-bottom: 60px;
}
.header-middle-content h1 {
    float: left;
    width: 300px;
    margin-top: 46px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Cuprum', 'Tahoma', sans-serif;
    font-style: italic;
    color: #ee3643;
}
.middle-address {
    float: left;
    width: 300px;
    margin-top: 46px;
    margin-right: 20px;
}
.middle-address a {
    display: block;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
}
.right-login {
    float: right;
    width: 300px;
    margin-top: 46px;
    color: black;
}
.lk-in {
    float: left;
    width: 120px;

}
.lk-reg {
    float: right;
    width: 150px;
}
.header-user {
    float: right;
    #width: 300px;
}
.login-name {
    display: block;
    padding: 14px 40px;
    background-color: white;
}
.header-userinfo a{
    display: inline-block;
}
.main-navigation {
    padding: 22px 50px;
    background-color: #32425c;
    font-size: 0;
}
ul {
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    margin-right: 60px;
    font-size: 17px;
    line-height: 17px;
}
.main-navigation li:last-child {
    margin-right: 0;
}
.main-navigation a {
    color: white;
    text-decoration: none;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    text-decoration: none;
    color: black;
}
.item-name {
    padding: 33px 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f2f6f8;
    color: #32425c;
}
.filter-form {
    float: left;
    width: 220px;
}
.filter-form span {
    display: block;
    padding: 10px 18px;
    background-color: #f7f3ec;
}
.price-filter h2 {
    padding: 20px 0;
}
.price-range {
    padding-bottom: 9px;
    background-color: #f7f3ec;
    min-height: 80px;
}
.price-range label {
    float: left;
    padding: 12px 46px;
}
.price-range label:last-child {
    float: right;
}
.filter-form-selector {

}
.filter-form-selector label {
    display: block;
}
.show-button {
    padding: 9px 33px;
    margin-top : 74px;
    border: 1px solid #e5e5e5;
    background-color: white;
}
.catalog {
    float: right;
    width: 700px;
    padding-bottom: 60px;
}
.sort-rules {
    margin: 0;
    margin-bottom: 20px;
    background-color: #f7f3ec;
}
.catalog-cards {
    float: right;
}
.catalog-item {
    display: inline-block;
    vertical-align: top;
    width: 186px;
    min-height: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    border: 1px solid #e5e5e5;
    font-size: 17px;
    line-height: 18px;
}
.catalog-item:nth-child(3n) {
    margin-right: 0;
}
.catalog-item b {
    font-size: 18px;
    line-height: 20px;
}
.promo-blocks {

}
.promo {
    float:left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 25px;
}

.promo-header {
    display: block;
    margin-bottom: 15px;
    color: white;
}
.promo-btn{
    padding: 14px 24px;
    background-color: #dda028;
    color: white;
    text-decoration: none;
}
.yellow {
    background-color: #f6b22d;
}
.blue {
    background-color: #4aafde;
}
.purple {
    background-color: #cc79d1;
}
.green {
    background-color: #85d179;
}
.slider {
    float:left;
    width: 620px;
    margin-right: 20px;
    outline: 1px solid black;
}
.popular-header {
    margin-bottom: 20px;
    padding: 25px 24px;
    background-color: #f7f3ec;
}
.popular-header h2 {
    float: left;
    margin: 0;
    vertical-align: middle;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}
.popular-header a {
    float: right;
    width: 143px;
    padding: 14px 55px;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
}
.item-promo-block {
    float: left;
    width: 186px;
    min-height: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    border: 1px solid #e5e5e5;
}
.promo-catalog .item-promo-block:last-child {
    margin-right: 0;
}
.catalog-cards .item-promo-block:nth-child(3n) {
    margin-right: 0;
}
.pagination li {
    display: inline;
    margin-right: 10px;
    padding: 10px 11px;
    border: 1px solid #e5e5e5;
}
.pagination li:first-child {
    background-color: #ee3643;
    border: none;
    padding: 10px 12px;
}

.pagination a {
    text-decoration: none;
    color: black;
}
.promo-img {
    margin: 0;
    min-height: 175px;
}
.item-promo-block b {
    display: block;
    margin-bottom: 15px;
}


.price-deleted {
    display: block;
    margin-bottom: 12px;
    text-decoration: line-through;
    color: #999999;
}
.promo-block-price {
    display: block;
    padding: 12px 36px;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
}
b + .promo-block-price {
    margin-top: 51px;
}
.popular-manufacturers-promo {
    font-size: 0;
}
.manufacturer-promo-block {
    float:left;
    width: 218px;
    min-height: 145px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.manufacturer-promo-block:nth-child(4n) {
    margin-right: 0;
}
.manufacturer-promo-block a {
    display: inline-block;
    vertical-align: bottom;
    #min-height: 100px;
}

.item-about {
    background-color: #f2f6f8;
    padding: 68px 0;
}
.item-about h2 {
    padding-bottom: 40px;
}
.services {
    background-color: #f2f6f8;
}
.services-promo {
    margin-bottom: 74px;
}
.services-list {
    background-color: aqua;
}
.services-list ul {
    float: left;
    width: 240px;
    margin: 0;
    margin-right: 70px;
}
.services-list li {
    padding: 22px;
    list-style: none;
    outline: 1px solid black;
}
.services-description {
    float: left;
    width: 300px;
}
.hidden {
    display: none;
}
.info {
    margin-top: 70px;
    margin-bottom: 60px;
}
.delivery-info {
    float: left;
    width: 540px;
}
.red-button {
    display: inline-block;
    margin-top: 40px;
    padding: 14px 40px;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.contacts {
    float: right;
    width: 300px;
}
.footer-block-top {
    background-color: #32425c;
    padding-bottom: 50px;
}
.footer-address {
    display: inline-block;
    width: 380px;
    margin-right: 10px;
    font-style: normal;
    color: white;
}
.footer-address .red-button {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
}
.footer-menu {
    width: 550px;
    float: right;
}
.footer-top {
    float: right;
    margin: 42px 0;
}
.footer-bottom {
    float: right;
    margin: 0;
}
.footer-menu li {
    margin-right: 50px;
    display: inline;
}
.footer-menu a {
    color: white;
    text-decoration: none;
}
.footer-bottom a {
    color: #ffd180;
}
.footer-block-bottom {
    background-color: #293449;
    padding: 35px 0;
    color: white;
}
.footer-about {
    float: left;
    width: 230px;
    margin-right: 160px;
}
.social {
    float: left;
    width: 150px;
    margin-right: 100px;
}
.footer-email {
    float: left;
    width: 150px;
    margin-right: 40px;
}
.footer-email a {
    color: #ffd180;
    text-decoration: none;
}
.footer-developed {
    float: right;
    width: 110px;
}
.footer-developed a {
    color: #ffd180;
    text-decoration: none;
}