html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-style: normal;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.main-header {
    background-color: #f1f5f7;
    font-family: 'Cuprum', 'Tahoma', sans-serif;
    font-style: normal;
}
.header-top-row {
    background-color: #293449;
}
.container {
    width: 940px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
.header-top-content {
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    min-height: 50px;
}
.logo {
    float: left;
    width: 220px;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-align: center;
}
.search {
    float: left;
    margin-left:  18px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 200px;
    background-color: #293449;
}
.cart-block {
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
}
.cart-block a {
    text-decoration: none;
    color: white;
}
.header-top-btn {
    padding: 8px;
    background-color: #63a63e;
}
.header-middle-content {
    background-color: #f1f5f7;
    padding-bottom: 60px;
}
.header-middle-content h1 {
    float: left;
    width: 300px;
    margin-top: 46px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Cuprum', 'Tahoma', sans-serif;
    font-style: italic;
    color: #ee3643;
}
.middle-address {
    float: left;
    width: 300px;
    margin-top: 46px;
    margin-right: 20px;
}
.middle-address a {
    display: block;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
}
.right-login {
    float: right;
    width: 300px;
    margin-top: 46px;
    color: black;
}
.lk-in {
    float: left;
    width: 120px;

}
.lk-reg {
    float: right;
    width: 150px;
}
.main-navigation {
    padding: 22px 50px;
    background-color: #32425c;
    font-size: 0;

}
ul {
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    margin-right: 60px;
    font-size: 17px;
    line-height: 17px;
}
.main-navigation li:last-child {
    margin-right: 0;
}
.main-navigation a {
    color: white;
    text-decoration: none;
}

.promo-blocks {

}
.promo {
    float:left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 25px;
}
.promo:nth-child(n+3) {
    margin-right: 0;
}
.promo-header {
    display: block;
    margin-bottom: 15px;
    color: white;
}
.promo-btn{
    padding: 14px 24px;
    background-color: #dda028;
    color: white;
    text-decoration: none;
}
.yellow {
    background-color: #f6b22d;
}
.blue {
    background-color: #4aafde;
}
.purple {
    background-color: #cc79d1;
}
.green {
    background-color: #85d179;
}
.slider {
    float:left;
    width: 620px;
    margin-right: 20px;
    outline: 1px solid black;
}
.popular-header {
    margin-bottom: 20px;
    padding: 25px 24px;
    background-color: #f7f3ec;
}
.popular-header h2 {
    float: left;
    margin: 0;
    vertical-align: middle;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}
.popular-header a {
    float: right;
    width: 143px;
    padding: 14px 55px;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
}
.item-promo-block {
    float: left;
    width: 186px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 47px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    border: 1px solid #e5e5e5;
}
.item-promo-block:last-child {
    margin-right: 0;
}
.item-promo-block b {
    display: block;
    margin-bottom: 18px;
}
.price-deleted {
    display: block;
    margin-bottom: 13px;
    text-decoration: line-through;
    color: #999999;
}
.promo-block-price {
    display: block;
    padding: 13px 36px;
    background-color: #ee3643;
    color: white;
    text-decoration: none;
}
.manufacturer-promo-block {
    float: left;
    width: 218px;
    padding-top: 58px;
    padding-bottom: 58px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.manufacturer-promo-block:nth-child(4n) {
    margin-right: 0;
}
.manufacturer-promo-block a {
    display: block;
}